<div class="p-non-exfoliate-outer-padding">
    {{#if block.data.details.a1000}}
        <a class="p-link" href="{{block.data.details.a1000}}">View in ReversingLabs A1000 </a><i
            class="fa fa-external-link p-grey"></i>
    {{/if}}

    <h1 class="p-title">
        <i class="fa fa-fw fa-file"></i> File Reputation
    </h1>
    {{#if block.data.details.datas.malware_presence.status}}
        <div>
            <span class="p-key">Status:</span>
            <span class="p-value">{{block.data.details.datas.malware_presence.status}}</span>
        </div>
    {{/if}}
    {{#if block.data.details.scanner_detection}}
        <div>
            <span class="p-key">AV Scanner Detection:</span>
            <span class="p-value">{{block.data.details.scanner_detection}}</span>
        </div>
    {{/if}}
    {{# if block.data.details.datas.malware_presence.first_seen}}
        <div>
            <span class="p-key">First Seen:</span>
            <span class="p-value">{{moment-time block.data.details.datas.malware_presence.first_seen}}</span>
        </div>
    {{/if}}
    {{# if block.data.details.datas.malware_presence.last_seen}}
        <div>
            <span class="p-key">Last Seen:</span>
            <span class="p-value">{{moment-time block.data.details.datas.malware_presence.last_seen}}</span>
        </div>
    {{/if}}
    {{#if block.data.details.threat}}
        <div>
            <span class="p-key">Threat:</span>
            <span class="p-value">{{block.data.details.threat}}</span>
        </div>
    {{/if}}

    {{#if block.data.details.datas.malware_presence.classification.family_name}}
        <h1 class="p-title">
            <i class="fa fa-fw fa-archive"></i> Classification
        </h1>
        <div>
            <span class="p-key">Family Name:</span>
            <span class="p-value">{{block.data.details.datas.malware_presence.classification.family_name}}</span>
        </div>
        {{# if block.data.details.datas.malware_presence.classification.type}}
            <div>
                <span class="p-key">Type:</span>
                <span class="p-value">{{block.data.details.datas.malware_presence.classification.family_name}}</span>
            </div>
        {{/if}}
        {{# if block.data.details.datas.malware_presence.classification.type}}
            <div>
                <span class="p-key">Platform:</span>
                <span class="p-value">{{block.data.details.datas.malware_presence.classification.platform}}</span>
            </div>
        {{/if}}
    {{/if}}

    {{#if block.data.details.scanned_on}}
        <h1 class="p-title">
            <i class="fa fa-fw fa-barcode"></i>
            Scanner Results
            <span class="p-action view-more" {{action "toggleScanner"}}>
                {{#if isShowingDiv}}
                    (Hide Details<i class="fa fa-fw fa-angle-up"></i>)
                {{else}}
                    (View Details<i class="fa fa-fw fa-angle-down"></i>)
                {{/if}}
            </span>
        </h1>
        <div>
            <span class="p-key">Scan Date:</span>
            <span class="p-value">{{moment-time block.data.details.scanned_on}}</span>
        </div>
        <div>
            <span class="p-value">{{block.data.details.scanner_match}}</span>
            <span class="p-key">detections out of </span>
            <span class="p-value">{{block.data.details.scanner_count}}</span>
            <span class="p-key"> scanners</span>
        </div>
    {{/if}}

    {{#if isShowingDiv}}
        <div id="collapse-xref" class="xref-table">
            {{#if block.data.details.scanned_on}}
                <table style="margin-top: 10px;">
                    <thead>
                    <th colspan="2">Scanner</th>
                    <th>Result</th>
                    </thead>
                    <tbody>
                    {{#each-in block.data.details.results as |key value|}}
                        <tr>
                            <td style="width:20px"><i
                                    class="{{if value.result 'fa fa-bug p-red' 'fa fa-check p-green'}}"></i></td>
                            <td>
                                {{#if value.scanner}}
                                    {{value.scanner}}
                                {{/if}}
                            </td>
                            <td>
                                {{#if value.result}}
                                    {{value.result}}
                                {{else}}
                                    <span class="success">[No Detections]</span>
                                {{/if}}
                            </td>
                        </tr>
                    {{/each-in}}
                    </tbody>
                </table>
            {{/if}}
        </div>
    {{/if}}

    {{#if block.data.details.isUriToHash}}
        <h1 class="p-title">
            <i class="fa fa-fw fa-server"></i> Associated Hashes
        </h1>

        <div class="tags">
            {{#each block.data.details.sha1_list as |sha1|}}
                <a class="p-link" href="https://{{block.data.details.url}}/search/?q=sha1%3A{{sha1}}&location=cloud">{{sha1}}</a>
            {{/each}}
        </div>
    {{/if}}
</div>