{{#if block.userOptions.lookupA1000}}
    <a class="p-link" href="{{block.userOptions.a1000}}/?q={{block.entity.value}}">View in ReversingLabs A1000 {{fa-icon "external-link-square" class="external-link-icon"}}</a>
{{/if}}
-
{{#if isNotUri}}
<h1 class="p-title">
    {{fa-icon "file" fixedWidth=true}} File Reputation
</h1>
{{/if}}

{{#if malwarePresence}}
{{#if malwarePresence.status}}
    <div>
        <span class="p-key">Status:</span>
        <span class="p-value">{{malwarePresence.status}}</span>
    </div>
{{/if}}
{{/if}}

{{#if isNotUri}}
<div>
    <span class="p-key">Threat Level:</span>
    <span class="p-value">
        {{#if (gte malwarePresence.threat_level 4)}}
            {{fa-icon "circle" class=(concat "severity-icon " statusClass)}}
        {{else if (gte malwarePresence.threat_level 2)}}
            {{fa-icon "adjust" rotation=270 class=(concat "severity-icon " statusClass)}}
        {{else}}
            {{fa-icon "dot-circle" class=(concat "severity-icon " statusClass)}}
        {{/if}}
        &nbsp;{{threatLevelHuman}} ({{malwarePresence.threat_level}} / 5)
    </span>
</div>
{{/if}}

{{#if malwarePresence}}
    <div>
        <span class="p-key">AV Detection Rate:</span>
        <span class="p-value">{{malwarePresence.scanner_percent}}%</span>
    </div>
    <div>
        <span class="p-key">AV Detection Count:</span>
        <span class="p-value">{{malwarePresence.scanner_match}} of {{malwarePresence.scanner_count}} Detections</span>
    </div>
{{#if malwarePresence.first_seen}}
    <div>
        <span class="p-key">First Seen:</span>
        <span class="p-value">
             {{moment-format malwarePresence.first_seen 'MM/DD/YYYY' timeZone=timezone}}
        </span>
    </div>
{{/if}}
{{#if malwarePresence.last_seen}}
    <div>
        <span class="p-key">Last Seen:</span>
        <span class="p-value">
            {{moment-format malwarePresence.last_seen 'MM/DD/YYYY' timeZone=timezone}}
        </span>
    </div>
{{/if}}

{{#if malwarePresence.trust_factor}}
    <div>
        <span class="p-key">Trust Factor:</span>
        <span class="p-value">{{trustFactorHuman}} ({{malwarePresence.trust_factor}} / 5)</span>
    </div>
{{/if}}

{{#if malwarePresence.classification.family_name}}
    <h1 class="p-title">
        {{fa-icon "archive" fixedWidth=true}} Classification
    </h1>
    {{#if malwarePresence.classification.platform}}
        <div>
            <span class="p-key">Platform:</span>
            <span class="p-value">{{malwarePresence.classification.platform}}</span>
        </div>
    {{/if}}
    {{#if malwarePresence.classification.type}}
        <div>
            <span class="p-key">Type:</span>
            <span class="p-value">{{malwarePresence.classification.type}}</span>
        </div>
    {{/if}}
    {{#if malwarePresence.classification.family_name}}
        <div>
            <span class="p-key">Family Name:</span>
            <span class="p-value">{{malwarePresence.classification.family_name}}</span>
        </div>
    {{/if}}
{{/if}}
{{/if}}

{{#if details.scanned_on}}
    <h1 class="p-title">
        {{fa-icon "scanner" fixedWidth=true}}
        Scanner Results
        <span class="p-action view-more" {{action "toggleScanner"}}>
            {{#if isShowingDiv}}
                (Hide Details {{fa-icon "angle-up" fixedWidth=true}})
            {{else}}
                (View Details {{fa-icon "angle-down" fixedWidth=true}})
            {{/if}}
        </span>
    </h1>
    <div>
        <span class="p-key">Scan Date:</span>
        <span class="p-value">
            {{moment-format  details.scanned_on 'MM/DD/YYYY' timeZone=timezone}}
        </span>
    </div>
    <div>
        <span class="p-value">{{details.scanner_match}}</span>
        <span class="p-key">detections out of </span>
        <span class="p-value">{{details.scanner_count}}</span>
        <span class="p-key"> scanners</span>
    </div>
{{/if}}

{{#if isShowingScannerDetails}}
    <div id="collapse-xref" class="xref-table">
        {{#if details.scanned_on}}
            <table style="margin-top: 10px;">
                <thead>
                <th colspan="2">Scanner</th>
                <th>Result</th>
                </thead>
                <tbody>
                {{#each-in details.results as |key value|}}
                    <tr>
                        <td style="width:20px">
                            {{#if value.result}}
                                {{fa-icon "bug" class="p-red table-icon" fixedWidth=true}}
                            {{else}}
                                {{fa-icon "check" class="p-green table-icon" fixedWidth=true}}
                            {{/if}}
                        </td>
                        <td>
                            {{#if value.scanner}}
                                {{value.scanner}}
                            {{/if}}
                        </td>
                        <td>
                            {{#if value.result}}
                                {{value.result}}
                            {{else}}
                                <span class="no-detections">[No Detections]</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/each-in}}
                </tbody>
            </table>
        {{/if}}
    </div>
{{/if}}

{{#if block.data.details.isUriToHash}}
    {{#if block.data.details.hasStats}}
        <!-- URI Stats -->
        <h1 class="p-title">
            <i class="fa fa-fw fa-server"></i> URI Stats
        </h1>
        <div>
            <span class="p-key">SHA1</span>
            <span class="p-value">{{block.data.details.stats.sha1}}</span>
        </div>
        <div>
            <span class="p-key">URI Type</span>
            <span class="p-value">{{block.data.details.stats.uri_type}}</span>
        </div>
        
        <!-- Counters -->
        <h1 class="p-title">
            <i class="fa fa-fw fa-server"></i> Associated Samples
        </h1>
        <div>
            <span class="p-key">Known</span>
            <span class="p-value">{{block.data.details.stats.counters.known}}</span>
        </div>
        <div>
            <span class="p-key">Malicous</span>
            <span class="p-value">{{block.data.details.stats.counters.malicious}}</span>
        </div>
        <div>
            <span class="p-key">Suspicious</span>
            <span class="p-value">{{block.data.details.stats.counters.suspicious}}</span>
        </div>
    {{/if}}


    <!-- Hashes -->
    <h1 class="p-title">
        <i class="fa fa-fw fa-server"></i> Associated Hashes
    </h1>
    <div class="tags">
        {{#each block.data.details.sha1_list as |sha1|}}
            <a class="p-link" href="{{block.data.details.url}}/search/?q=sha1%3A{{sha1}}&location=cloud">{{sha1}}</a>
        {{/each}}
    </div>
{{/if}}
